.background-content {
  background: $backgroundColor;
  height: 134px;
  width: 100%;

  .content {
    color: $color-text;
    font-family: $font-text;
    padding: 2px;
    > p {
      font-size: 1em;
      word-wrap: break-word;
    }
  }
}
.card {
  position: relative;
     width: 100%;
    height: 350px; 
    display: flex;
    // align-items: center;
     flex-direction: column;
     justify-content: center;
      // align-items: end;
       .card-info {
        height: 33%;
        width: 100%;
        background: rgba(#09357B , 0.9);
        padding: $padding-card;
        position: absolute;
        bottom:0;
        // align-self: flex-end;
        color:white;

        // justify-content: flex-end;
    }
}

.card-news {
   width: 100%;
    height: 350px;
    color: $color-text;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   display: flex;
    align-items: end;
    position: relative;
    .peaksBack{
      display: flex; 
      align-items: center;
    }
    .card-info {
        height: 33%;
        width: 100%;
        background: rgba(#09357B , 0.9);
        padding: $padding-card;
        align-self: flex-end;
        // justify-content: flex-end;
    }
      .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 29px;
            letter-spacing: .07px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: 0;
        }
       
}