.background-content {
  background: $backgroundColor;
  height: 134px;
  width: 100%;

  .content {
    color: $color-text;
    font-family: $font-text;
    padding: 2px;
    > p {
      font-size: 1em;
      word-wrap: break-word;
    }
  }
}


