.header-top {
  display: flex;
  padding: 20px 0px;
  @include flex(center, space-between);
  flex-wrap: wrap;
  > div {
    display: flex;
    gap: 20px;
    align-self: flex-end;
  }
   @media only screen and (max-width: 600px){
  > div {
  flex-wrap: wrap;
  .select{
    width: 175px;
  }

  }
   }
}
$gridGap: 30px;

.top-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(10rem, 22em));
  //  grid-auto-flow: row;
  //   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   margin-bottom: 30px;
  gap: 30px;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
  }
  > div:nth-child(1) {
    grid-column: 1 /3;
    grid-row: 1/3;
  }
  > div:nth-child(4) {
    grid-column: 3 /4;
    grid-row: 2/3;
  }
  > div:nth-child(3) {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  @media only screen and (max-width: 600px) {
    display: flex;
   flex-direction: column;
   align-items: center;
  }
}
.section-2,
.category-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(300px, auto);
    margin-bottom: 30px;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}
.search-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(300px, auto);
    margin-bottom: 30px;

}
.btn-view {
  background-color: $backgroundColor;
  border: none;
  padding: .7em 1.5em;
  color: $color-text;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0px;
  @include flex(center, null);
}
a {
  text-decoration: none;
}
.sport-red,
.culture-yellow,
.life-blue,
.news-green {
  //  background: #F50057;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.8%;
}
.sport-red {
  background: #f50057;
}
.culture-yellow {
  background: #ffca28;
}
.life-blue {
  background: #2196f3;
}
.news-green {
  background: #388e3c;
}
.header {
  display: flex ; 
  justify-content: space-between;
  margin:   1em 0;
}
.center-loading {
display:grid; 
place-items: center;
margin-top: 30px;
}
$minColWidth: 15rem;
$gridGap: 30px;
.grid_wrap {

    margin: 15px 0;
    
.grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));
    grid-gap: $gridGap;
    height: 100%;
    >div {
     height: 100%;

    }
a {
  height: 100%; 
  display: block;

}
    &+.grid {
        margin-top: $gridGap;
    }
}
}
 .grid_wrap .first-grid{
 > div {
  > div {
    > a {
    > div {
       height: 100%;
    }
    } 
  }
 }
}