$backgroundColor :#09357B; 
$padding-container: 0 90px; 
$padding-bookmark: 0 63px;  
$color-text:white; 
$font-text : "Georgia";
$font-select: 'Roboto', sans-serif;
$padding-content:10px; 
$fontSize:18px; 
// $size-search : 20%; 